extends layout

block content
  h1 Profile
  - if (messages.error)
    .alert.alert-danger
      span= messages.error
  h2 You are logged in as #{login}
  form(method="POST")
    div.field
      label Name
      input(type="text" name="name")
    div.field
      label Password
      input(type="password" name="password")
    div.field
      label Password confirmation
      input(type="password" name="passwordConfirmation")
    button(type="submit" name="submit") Sign in
